//@color-surf: #ebebeb;
@color-surf: #dedede;
@color-surf-acc: #35464F;

.phcy {
    .tab-label {
        -fx-font-size: 22px;
    }
    .tab-header-background {
        -fx-background-color: @color-surf-acc;
    }
    .tab-selected-line {
        -fx-background-color: white;
    }
    .tab-header-area .jfx-rippler{
        -jfx-rippler-fill: white;
    }
    .jfx-tree-table-view .column-header-background {
        -fx-background-color: @color-surf-acc;
        -fx-pref-height: 30px;
        -fx-padding: -1em;
    }
    .jfx-tree-table-view .label {
        -fx-text-fill: white;
        .phcy-text;
    }
    .jfx-tree-table-view {
        -fx-background-color: @color-surf;

        .phcy-text;

        .tree-table-cell {
            -fx-alignment: center ;
        }

        .scroll-bar:horizontal .increment-arrow,
        .scroll-bar:horizontal .decrement-arrow,
        .scroll-bar:horizontal .increment-button,
        .scroll-bar:horizontal .decrement-button {
            -fx-padding: 0;
        }
    }
    .jfx-toggle-button {
        -jfx-toggle-color: @color-surf-acc;
    }
}

.phcy-action-button {
    .jfx-button {
        -fx-padding: 0;
    }
}

.phcy-main-button {
    -fx-font-size: 16px;
    -fx-background-color: @color-surf-acc;
    -fx-text-fill: white;
}

.phcy-panel {
    -fx-background-color: @color-surf;
}

.phcy-text {
    -fx-font-size: 18px;
}

.phcy-text-h {
    -fx-font-weight: bold;
}

.phcy-text-field {
    -jfx-focus-color: @color-surf-acc;
}
